@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: "Montserrat", Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}


.container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Nav Bar */
#nav-bar{
    height: auto;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: black;
}
.nav-bar{
    background-color: black;
    left: 0;
    top: 0;
    padding:8px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar .nav-list .hamburger{
    border: 2px solid whitesmoke;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    transition: .5 ease transform;
    cursor: pointer;
}

.nav-bar .nav-list .hamburger.active .bar::before{
    top: 0;
    transform: rotate(45deg);
}
.nav-bar .nav-list .hamburger.active .bar::after{
    top: 0;
    transform: rotate(-45deg);
}


.nav-bar .nav-list .hamburger.active .bar{
    transform: rotate(360deg);
}
.nav-bar .nav-list .hamburger .bar{
    height: 2px;
    width: 20px;
    background-color: whitesmoke;
    position: relative;
    display: flex;
    
}
.nav-bar .nav-list .hamburger .bar::before,
.nav-bar .nav-list .hamburger .bar::after{

    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    transition: .3 ease all;  
}

.nav-bar .nav-list .hamburger .bar::before{
    top: 8px;

}
.nav-bar .nav-list .hamburger .bar::after{
    bottom: 8px;

}


.nav-bar .nav-list ul{
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0;
    background-color: rgba(36, 35, 35, 0.911);
    padding: 5rem 0;
    transform: translateY(-100%);
    transition: .3s ease transform;
    text-align: center;
    
    }

.nav-bar .nav-list ul li{
    list-style: none;
    display: block;
    position: relative;

}
.nav-bar .nav-list ul li:hover::after{
    transform: translateX(-50%) scale(1) ;
}

.nav-bar .nav-list ul li::after{
    content: '';
    position: absolute;
    width: 5rem;
    height: .2rem;
    background-color: transparent;
    border: 2px solid #1D90E8;
    border-radius: 104px;
    left: 50%;
    transform: translateX(-50%) scale(0);
    bottom: 0;
    transition: .3s ease transform;
}
.nav-bar .nav-list ul li a{
    font-size: 1.8rem;
    text-decoration: none;
    padding: 1.5rem 3rem;
    color: whitesmoke;
    display: block;
    letter-spacing: .15rem;
    z-index: -1;
}

.nav-bar .nav-list.open ul {
    transform: translateY(65px);
}

.nav-bar .brand .brand-name ul{
    text-decoration:underline black;
    list-style: none;
    display:flex;
    align-items: baseline;
}
.nav-bar .brand .brand-name ul li:nth-child(1){
    color: whitesmoke;
    font-weight: 510;
    font-size: 90%;
}
.nav-bar .brand .brand-name ul li:nth-child(2){
    color: #1D90E8;
    font-size: 130%;
}


.nav-bar .nav-list{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* EndNav Bar */
/* Hero section */
.hero{
    min-height: 80vh;
    width: 102%;
    padding-top: 40px;
    justify-content: center;
    background-color: black;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
}

.hero .hero-info{
    width: 60%;
    text-align: justify;
   position: relative;
   margin-left: 15px;
}

.hero .hero-info .hero-info-heading{
    font-size: 4.2rem;
    font-weight: 700;
}
.hero .hero-info .hero-info-subhead{
    font-size: 150%;
    
}

.hero .hero-info .hero-info-subtext{
    font-size: 1.6rem;
    color: whitesmoke;
    width: 70%;
    max-width: 70%;
    margin-top: 30px;
    word-spacing: 2px;
}

.hero .hero-info .hero-info-button{

    margin-top: 35px;
    margin-bottom: 35px;
    padding: 1rem 1.5rem;
    display: inline-block;
    color: whitesmoke;
    background-color: transparent;
    border: 2px solid #1D90E8;
    border-radius: 104px;
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: 600%;
    transition: .5s ease background-color;
}
.hero .hero-info .hero-info-button:hover {
    color: black;
    background-color:#1D90E8 ;
}

.hero .hero-img{
    height: auto;
    width: 80%;
    margin-bottom: 3rem;
    margin-right: 10%;
    
}
.hero .hero-img img{
    height: 100%;
    width: 100%;
}
/*End Hero Section*/
ol{
    list-style: none;
    display: flex;
    font-weight: 500;

}
ol li:nth-child(2){
    color: orange;
    
}
ol li:nth-child(1){
    margin-right: 5px;
    color: whitesmoke;
    
}

.hero .hero-info .hero-info-heading ul{
    list-style: none;
    display: flex;
    align-items: baseline;
    
}
.hero .hero-info .hero-info-heading ul li:nth-child(1){
    color: whitesmoke; 
    font-weight: 510;
    font-size: 90%;
}
.hero .hero-info .hero-info-heading ul li:nth-child(2){
    color: #1D90E8;
    font-size: 130%;
    
}
/* Trumps Tweets Section */
.trump{
    width: 102%;
    min-height: 50vh;
    padding: 8rem 5rem;
    flex-direction: column;
    margin-right: 20%;
    background-color: #172A3E;
}

.trump .trump-info .trump-info-desc{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 20%;
    font-size: 1.5rem;
    width: 100%;
    line-height: 2rem;
    color: whitesmoke;
    font-weight: 400;
    

}
.trump .trump-info .trump-info-heading {
    font-size: 4rem;
    text-align:  center;
    color: orange;
    transition: .3 ease-in;
    margin-bottom: 20px;
    display: flex;
    letter-spacing: px;
}
.trump .trump-info .trump-info-heading {
        width: 0ch;
        text-align: center;
        margin-left: 20%;
        overflow: hidden;
        white-space: nowrap;
        animation: text 2s steps(13)infinite alternate ;
        transition: linear;
        border-right: 3px solid whitesmoke;
    
}
@keyframes text{
    0% {
        width: 5.3ch;
    }
    100%{
        width: 13ch;
    }
}

/* EndTrumps Tweets Section */

/* Tweets card section */
.tweets{
   margin: 20px;
   color: black; 

}
.tweets .tweets-info{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    font-size: 120%;
    padding: 10%;
    margin-top: -7%;
}
.tweets.tweets-info .tweets{
    width: 100%;
    min-height: 300px;
    position: relative;
    min-width: 60%;
    

}
.tweets .tweets-info .tweets .tweets-card{
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 4rem 2rem;
    display: flex;
    color: black;
    background-color: whitesmoke;
    border: 2px solid whitesmoke;
    box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.418);
    border-radius: 30px;
    flex-direction: column;
}
.tweets .tweets-info .tweets-card .tweets-card-text{
    font-size: 120%;
}
.tweets .tweets-info .tweets .tweets-card .tweets-card-user{
    text-align: right;
    color: grey;
    font-weight: normal;
    margin-right: 25px;
    margin-bottom: 15px;
}

/* EndTweets card section */
.about {
    flex-direction:column ;
    min-height: 50vh;
    margin-top: 8rem;
    
}
.about .about-header {
    width: 100%;
    text-align: center;

}
.about .about-header .about-header-heading{
    font-size: 4rem;
    color: black;
}
.about .about-header .about-header-desc{
    font-size: 1.3rem;
    line-height: 2rem;
    margin-top: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 20%;
    width: 100%;
    line-height: 2rem;

}
.about .about-info {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}
.about .about-info .about .about-card{
    width: 100%;
    min-height: 100px;
    position: relative;
    transition: 0.3 ease transform;
    margin: 5px;
    display: block;
}
.about .about-info .about .about-card .about-card-front,
.about .about-info .about .about-card .about-card-back {
    position: relative;
   height: 100%;
   width: 100%;
   backface-visibility:hidden ;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: black;

}

/* About Section */
.names{
    margin: 20px;
    color: white; 
 
 }
 .names .names-info{
     margin-top: 30px;
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     flex-direction: column;
     font-size: 120%;
     padding: 10%;
     margin-top: -7%;
 }
 .names.names-info .names{
     width: 100%;
     min-height: 300px;
     position: relative;
     min-width: 60%;
     
 
 }
 .names .names-info .names .names-card{
     margin-top: 10px;
     margin-bottom: 5px;
     padding: 4rem 2rem;
     display: flex;
     color: black;
     background-color: rgb(0, 0, 0);
     border: 2px solid black;
     box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.418);
     border-radius: 30px;
     flex-direction: column;
 }
 .names .names-info .names-card .names-card-text{
     font-size: 120%;
     color: white;
 }
 .names .names-info .names .names-card .names-card-user{
     text-align: right;
     color: grey;
     font-weight: normal;
     margin-right: 25px;
     margin-bottom: 15px;
 }
 

/* End About Section */

/* Footer section */
.footer{
    min-height: 20vh;
    width: 102%;
    background-color: black;
    color: whitesmoke;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    
    list-style: none;
    

}

.footer .footer-contact{
    padding: 10px;
    
}
.footer .footer-contact .footer-contact-heading {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: left;
    letter-spacing: 0.3rem;
    
}


.footer .footer-contact .footer-contact-info1 {
    font-size: 1.3rem;
    text-align: center;
    letter-spacing: 0.2rem;
}
.footer .footer-contact .footer-contact-info{
    font-size: 1.2rem;
    padding-top: 10px;


}
/* ENd Footer section */

/* Media query for desktop */
@media only screen and (min-width:768px) {

    .nav-bar .nav-list .hamburger{
        display: none;
    }

    .nav-bar{
        width: 80%;
    }
    .nav-bar .nav-list ul{
        transform: translateX(0);
        position: initial;
        padding: 0;
        z-index: initial;
        background-color: transparent;
        
    }
  

    .nav-bar .nav-list ul li{
        display: inline-block;
    }
    

    .hero {
        height: 100vh;
        flex-direction: row;
        padding-left: 10%;
        justify-content: center;
        align-items: center;
    }
    .hero .hero-info{
        max-width: 30%;
        text-align: left;
    }
    .hero .hero-img{
        height: auto;
        width: 200%;
        
    }
    .trump .trump-info .trump-info-desc{
        max-width: 500px;
        margin: 0 auto;
        padding: 8%;
        margin-top: -40px;
        
    }
 
    .tweets .tweets-info {
        flex-direction: row;
        font-size: 120%;
        padding: 3%;
        margin-right: 50px;
        margin-left: 50px;
        
    }
  
    .names .names-info {
        flex-direction: row;
        font-size: 120%;
        padding: 2%;

        margin-right: 50px;
        margin-left: 50px;
        
    }

    .about .about-header .about-header-desc{
        max-width: 1000px;
        margin: 0 auto;
        padding: 8%;
        margin-top: -40px;
    }
  
/* End Media query for desktop */
